html{
	background: url("http://i.imgur.com/x1f2YLd.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#front-heading{
	h1{
		background: rgba(0,0,0,0.7);
    border-radius: 5px;
		color: #fff;
		display: block;
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 23px;
		margin: 82px auto 0;
    padding: 10px;
		text-align: center;
		width: 278px;
		@media #{$large-up}{
			font-size: 2em;
			margin: 300px auto 0;
			width: 389px;
		}
	}
}

#corndog-callout{
	background: white;
  border-radius: 125px;
  bottom: 50px;
  color: #000;
  display: block;
	height: 220px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	position: absolute;
	text-decoration: none;
	width: 250px;
	&:hover, &:active{
		text-decoration: underline;
	}
	img{
		display: block;
		margin: 0 auto;
	}
	p{
		font-family: 'VT323', monospace;
		font-size: 22px;
		text-align: center;
	}
}
